* text=auto !eol
stable/1.0/INSTALL.BLAS -text
stable/1.0/Makefile.am -text
stable/1.0/configure -text
stable/1.0/get.Blas -text
trunk/INSTALL.BLAS -text
trunk/Makefile.am -text
trunk/configure -text
trunk/get.Blas -text
